.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  position: absolute;
  right: 15px;
}

.success {
  color: green;
}

.error {
  color: red;
}
